* {
    box-sizing: border-box;
    /* border: 2px solid red; */
}

body {
    margin: 0;
    padding: 0;
    background: #f3f5fc;
}

h1 {
    margin: 20px;
}

main {
    position: relative;
    width: 100%;
    height: 800px;
    margin: 0 auto;
}

.caja-encriptar {
    display: inline-block;
    position: absolute;
    width: 60%;
    left: 160px;
    height: 90%;
    margin-left: 80px;
}
.caja-encriptar form {
    width: 100%;
    height: 80%;
    text-align: left;
}

.caja-encriptar textarea {
    background: #f3f5fc;
    color: #0a3871;
    padding: 12px 20px;
    width: 90%;
    height: 80%;
    border: 0;
    font-size: 25px;
    resize: none;
    outline: none;
}

.caja-encriptar textarea::placeholder {
    color: #0a3871;
    opacity: 1;
}

.caja-resultado {
    background-color: #ffffff;
    position: absolute;
    padding: 20px;
    right: 80px;
    top: 0;
    text-align: center;
    border-radius: 20px;
    height: 90%;
    width: 20%;
}

.imagen-resultado {
    width: 100%;
    object-fit: contain;
}

.caja-resultado h2 {
    font-size: 30px;
    color: #343a40;
    word-break: break-word;
}

.caja-resultado p {
    color: #495057;
    font-size: 20px;
    width: 100%;
    word-break: break-all;
    overflow-y: hidden;
}

.altura {
    height: 60%;
}

.caja-resultado button {
    width: 80%;
    padding: 18px;
    font-size: 20px;
    border-radius: 20px;
    background: #ffffff;
    color: #0a3871;
    border: solid 1px #0a3871;
    margin-top: 80px;
    visibility: hidden;
}

.reglas {
    color: #495057;
    margin-left: 10px;
}

.caja-botones button {
    width: 250px;
    padding: 18px;
    font-size: 20px;
    border-radius: 20px;
    margin: 15px;
}

.encriptar {
    background: #0a3871;
    color: #ffffff;
    border: solid 1px #0a3871;
}

.desencriptar {
    background: #d8dfe8;
    color: #0a3871;
    border: solid 1px #0a3871;
}

@media (max-width: 1440px) {
    .caja-encriptar {
        width: 50%;
        margin-left: 0;
    }

    .caja-resultado {
        width: 25%;
    }
}

@media (max-width: 810px) {
    main {
        height: auto;
        text-align: center;
    }

    .caja-encriptar {
        position: static;
        display: block;
        padding: 20px;
        width: auto;
        margin: auto;
    }

    .caja-encriptar form {
        height: 400px;
    }

    .caja-botones button {
        width: 40%;
    }

    .reglas {
        text-align: left;
        padding-left: 40px;
    }

    .caja-resultado {
        position: static;
        display: inline-block;
        width: 90%;
        height: auto;
        min-height: 200px;
    }

    .altura {
        padding: 20px;
    }

    .caja-resultado button {
        margin: auto;
    }

    .imagen-resultado {
        display: none;
    }
}

@media (max-width: 420px) {
    .reglas {
        padding-left: 0;
    }
    .caja-botones button {
        width: 100%;
        padding: 18px 0;
        margin: 15px 0;
    }

    .caja-resultado {
        padding: 10px;
        margin: 10px;
    }

    .caja-resultado h2 {
        font-size: 25px;
    }

    .caja-resultado p {
        font-size: 16px;
    }
}
